# Default ignored files
/.idea/shelf/
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/

# JetBrains IDE specific
/.idea/calcul8.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/xcode.xml

/build/
/calcul8.xcodeproj/project.xcworkspace/xcshareddata/
/calcul8.xcodeproj/project.xcworkspace/xcuserdata/device.xcuserdatad/
/calcul8.xcodeproj/xcuserdata/device.xcuserdatad/xcschemes/CalculationRepositoryTests.xcscheme
/.idea/runConfigurations/
